$primary-color: #3498db;
$secondary-color: #2c3e50;
$success-color: #27ae60;
$warning-color: #f39c12;
$error-color: #e74c3c;
$background-light: #494949;
$background-dark: #2c3e50;
$text-color: #ecf0f1;

$sidebar-width: 300;
