@use "../../styles/main" as *;

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $primary-color;
  color: $text-color;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;

  h2 {
    color: $secondary-color;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;

      a {
        color: $text-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
